.mainBodyContainer{
    margin-top: 60px;
}

.credentials{
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-form > button {
    float: right;
}

#registration-form > button {
    float: right;
}

.chat-body .message{
    display: block;
    font-size: 1.2em;
}