.mainBodyContainer{
    margin-top: 60px;
}

.credentials{
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-body .message {
    display: block;
    font-size: 1.2em;
}

.messageUser {
    color: blue;
}

.messageUserMe {
    color: red;
    font-weight: 600
}