<% layout('BasePage') %>

<h2 class="block-panel-heading"><%= room.roomName %></h2>
<div class="panel panel-default">
    <div class="panel-body chat-body">
        <% for(var i = 0; i < messages.length; i++) { %>
        <span class="message"><span class="user"
                                    style="color: <%= messages[i].messageUserColor %>"><%= messages[i].messageUser %></span>: <%= messages[i].messageText %></span>
        <% } %>
    </div>
</div>

