<% layout('BasePage') %>
<h1>Available rooms</h1>
<div class="list-group">
    <% for(var i = 0; i < rooms.length; i++) { %>
    <a href="room/<%= rooms[i]._id %>" class="list-group-item"><%= rooms[i].roomName %>
        (<%= rooms[i].numberOfMessages %>)</a>
    <% } %>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <form method="POST" action="/lobby/newRoom">
            <div class="form-group" style="text-align: right">
                <div class="input-group">
                    <input type="text" class="form-control" name="newRoomName">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Create new room</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

