<% layout('BasePage') %>
<h1>Available rooms</h1>
<div class="list-group">
    <a href="/1" class="list-group-item">Room #1</a>
    <a href="#" class="list-group-item">Room #2</a>
    <a href="#" class="list-group-item">Test room</a>
    <a href="#" class="list-group-item">Stupid room</a>
    <a href="#" class="list-group-item">Support room</a>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button">Create new room</button>
            </span>
        </div>
    </div>
</div>

