<% layout('BasePage') %>
<div class="col-lg-6 col-lg-offset-3">
    <form id="login-form">
        <h2 class="block-panel-heading">Sign in</h2>
        <input name="username" type="email" class="form-control credentials" placeholder="Email address">
        <input name="password" type="password" class="form-control credentials" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <div id="registerLink"><a href="/register">register</a></div>
</div>

<!--<p>Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.</p>-->

<!--<form class="form-horizontal login-form" id="login-form">-->
<!--<div class="form-group">-->
<!--<label for="input-username" class="col-lg-2 control-label">Имя</label>-->

<!--<div class="col-lg-10">-->
<!--<input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Имя">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="input-password" class="col-lg-2 control-label">Пароль</label>-->

<!--<div class="col-lg-10">-->
<!--<input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Пароль">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-lg-offset-2 col-lg-10">-->
<!--<button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>-->
<!--<span class="help-block error"></span>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->