<% layout('BasePage') %>
<div class="col-lg-6 col-lg-offset-3">
    <form id="registration-form">
        <h2 class="block-panel-heading">Register</h2>
        <input name="username" type="text" class="form-control credentials" placeholder="Chat name">
        <input name="email" type="email" class="form-control credentials" placeholder="Email address">
        <input name="password" type="password" class="form-control credentials" placeholder="Password">
        <p class="error alert-danger"></p>
        <button class="btn btn-primary  btn-block" type="submit">Register</button>
    </form>
</div>
