<% layout('BasePage') %>
<div class="col-lg-6 col-lg-offset-3">
    <form id="registerForm">
        <h2 class="block-panel-heading">Register</h2>
        <input type="email" class="form-control credentials" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control credentials" placeholder="Password" required="">
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
